@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4458dc;
  --primary-color2: #854fee;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.header-area .main-menu .navbar-brand {
  padding: 0 2rem 0 4rem;
}

.header-area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header-area .main-menu .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: var(--title-color);
}

.header-area .main-menu .nav-link.active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
