@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #4458dc;
  --primary-color2: #854fee;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.header-area .main-menu .navbar-brand {
  padding: 0 2rem 0 4rem;
}

.header-area .main-menu .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: var(--title-color);
}

.header-area .main-menu .nav-link.active {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Section */
.site-main .site-banner {
  background: url(sunset-gradient.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

.title-text {
  font: normal bold 50px/72px;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Buttons */
.button {
  padding: 0.8rem 2.2rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  border: 3px solid transparent;
  border-radius: 10px;
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  z-index: -1;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: background 0.6s ease;
}

.button.secondary-button:hover {
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}

/* About Area */
.site-main .about-area {
  padding: 8rem 5rem;
}
.site-main .about-area img {
  padding-top: 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px;
  letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

p.para {
  color: var(--text-color);
  font: normal 500 16px/25px;
}

/* Brand Area */
.site-main .brand-area {
  padding: 3rem 5vw;
  margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid black;
  text-align: center;
  padding: 1.8rem 0;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img {
  filter: brightness(0.15);
}

.site-main .brand-area .experience-area {
  padding-left: 1rem;
  position: relative;
}

.site-main .brand-area .experience-area span {
  display: block;
}

.site-main .brand-area .experience-area .years-area {
  background: url(background.jpg) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.site-main .brand-area .experience-area .bg-panel {
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #e029290a;
  width: 400px;
  height: 400px;
  z-index: 0;
  /* margin-left: 340px; */
}

.site-main .brand-area .experience-area > *:not(.bg-panel) {
  position: relative;
  z-index: 2;
}

.site-main .brand-area .experience-area .years-area .years {
  font-weight: 600;
  color: var(--primary-color);
  font-size: 4rem;
  margin-right: 0.5rem;
}

.years-area {
  max-width: 100%;
}

.site-main .brand-area .experience-area .years-area h2 > span {
  font-weight: 700;
  font-size: 2.5rem;
}
